<footer>
    <div class="content-padding">
        <div class="footer-content">
            <p>Copyright &copy; Kelsey McCarson</p>
            <div class="social-media-icons">
                <a href="https://twitter.com/kelsey_mccarson"><i class ="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/kelseyandrachel"><i class ="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>